<footer id="copyright" style="margin-top:16px;">
    <p style="font-size:14px;text-align:center;font-style:italic;">
        Copyright © <a id="author">2018</a> Powered by <a id="author">beyond</a>
    </p>
</footer>